<h1>All Flights</h1>

<% @flights.each do |flight| %>
  <section id='flight-<%= flight.id %>'>
    <p>Flight No. <%= flight.number %>,
    <%= flight.airline.name %></p>
    <ul>
      Passengers:
      <% flight.passengers.each do |passenger| %>
      <li>
        <%= passenger.name %>
      </li>
    <% end %>
    </ul>
  </section>
<% end %>
